{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in post_per_page %}
                <div class="post-preview">
                    <a href="{% url 'post' post.slug %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.content }}
                        </h3>
                    </a>
                    <p class="post-meta">
                        Category: <a href="{% url 'category' post.category.slug %}">{{ post.category }}</a>

                        Tags: 
                        {% for tag in post.tag.all %}
                            <a href="{% url 'tag' tag.slug %}">{{tag}}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p class="post-meta">Posted by {{post.author}} on {{ post.created_at }}</p>
                </div>
                <hr>
            {% endfor %}
                <!-- Pager -->
                <ul class="pager">

                {% if post_per_page.has_previous %}
                    <li class="previous">
                        <a href="?page={{ post_per_page.previous_page_number }}">&larr; New Posts</a>
                    </li>
                {% endif %}


                {% if post_per_page.has_next %}
                    <li class="next">
                        <a href="?page={{ post_per_page.next_page_number }}">Older Posts &rarr;</a>
                    </li>
                {% endif %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}