{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}    
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% if page.b_image %} /media/{{ page.b_image }} {% else %} /static/assets/img/about-bg.jpg {% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        <hr class="small">
                        <span class="subheading">
                            {% if page.sub_header %}
                                {{ page.sub_header }}
                            {% else %}
                            
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ page.content }}

                {% if page.slug == 'contact' %}
                <form role="form" name="sentMessage" id="contactForm" action="/contactform" method="post">
                    {% csrf_token %}

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            {{ form.name }}
                            {{ form.name.errors }}

                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            {{ form.content }}
                            {{ form.content.errors }}
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}